body {
  color: $general-text-color;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.main-btn {
  @include primary-button();
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 600;
}

.default-btn {
  @include default-button();
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 600;
}

.main-text-input {
  @include primary-text-input();
}

a {
  color: $primary-text-color;

  &:hover {
    color: $general-text-color-hover;
    text-decoration: none;
  }

  &:focus {
    color: $general-text-color-hover;
  }
}


//  radio inputs

input[type=radio].radio-input:not(checked) {
  position: absolute;
  opacity: 0;
}

input[type=radio].radio-input + label {
  position: relative;
  padding-left: 23px;
}

input[type=radio].radio-input:checked + label:before,
input[type=radio].radio-input:not(checked) + label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

input[type=radio].radio-input:checked + label:before {
  border-color: $primary-color;
}

input[type=radio].radio-input:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border: 0;
  border-radius: 50%;
  background-color: $primary-color;
}


//  checkbox inputs

input[type=checkbox].checkbox-input:not(checked) {
  position: absolute;
  opacity: 0;
}

input[type=checkbox].checkbox-input + label {
  position: relative;
  padding-left: 40px;
}

input[type=checkbox].checkbox-input:checked + label:before,
input[type=checkbox].checkbox-input:not(checked) + label:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 18px;
  border: 1px solid #bfbfbf;
  border-radius: 9px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

input[type=checkbox].checkbox-input:checked + label:after,
input[type=checkbox].checkbox-input:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 0;
  border-radius: 50%;
  background-color: #bfbfbf;
}

input[type=checkbox].checkbox-input:checked + label:after {
  left: 16px;
  background-color: $primary-color;
}
